//Fonts
$roboto: 'Roboto', sans-serif;
$aleo: 'Aleo', serif;
$josefin: 'Josefin Sans', sans-serif;

//Colors
$text: #e8e8e8;
$blue:#5474fd;
$hover:#b5b5f0;

// For media
$mobile-portrait: 480px;
$mobile: 767px;
$desktop: 1024px;