.choose {
    @include size(100%, 685px);
    background: url("../images/choose.jpg") no-repeat top center;
    background-size: cover;

    & img {
        width: 350px;
        position: relative;
        margin-left: 50px;

        &:nth-child(2) {
            left: 125px;
        }
    }

    &>.container {
        @include f-center;
    }
}

.description {
    width: 540px;
    @include f-left-column;

    &>* {
        margin-top: 48px;
        margin-right: 10px;
    }
    
    &__title {
        @include font(36px, $fl: 0.72);   
        font-family: $aleo;
        margin-bottom: 14px;
        color: $white;
    }

    &__text {
        @include font(16px, $fw: 300, $fl: 1.63);   
        letter-spacing: 1.6px;
    }    
}

