.header {
    @include size(100%, 820px);
    background: url("../images/header.jpg") no-repeat top center;
    background-size: cover;
    position: relative;
    color: $white;

    &>.container {
        @include f-center;
    } 
}

.title {
    text-align: justify;

    &__name {
        @include font(48px, $fw: 700, $fl: 0.54);        
        letter-spacing: 4.8px;
    }

    &__text {
        @include font(22px, $fw: 300, $fl: 1.18);
        letter-spacing: 6.82px;
        margin-top: 15px;
    }
}

.search {
    @include size(650px, 60px);
    background: $white;
    display: flex;
    justify-content: space-between;
    padding: 2px;
    margin: 50px 0 114px;
    position: relative;
    

    &__text {
        width: 100%;
        @include font(14px, $fl: 1.86);
        letter-spacing: 2.8px;
        text-align: center;

        &:focus {
        box-shadow: inset 1px 3px 21px 3px rgba(0,0,0,0.19);
        }
    }
    

    &__button {
        cursor: pointer;
        background-color: $blue;
        color: inherit;
        width: 150px;
        @include f-center;
        flex-direction: row;
        text-transform: uppercase;
        font-family: $aleo;
        font-size: 14px;
        letter-spacing: 1.4px;

        &:hover {
            background: #223c58;
        }
    }

    &__icon {
        @include size(20px, 22px);
        fill: $white;
    }
}

.scroll {
    @include f-between;
    @include font(14px, $fw: 300, $fl: 1.86);   
    letter-spacing: 2.8px;
    @include pos($pos: absolute, $b: 16%, $l: 50%);
    transform: translateX(-50%);
    animation: scroll 2s ease-in-out infinite; /*параметры анимации:название, старт, направление...*/
   
    :hover {
        transform: scale(1.05);
        transition: .2s;
    }
}

@keyframes scroll {
0% {
    bottom: 26%;
}
50% {
    bottom: 24%;
}
100% {
    bottom: 26%;
}
}

.navigation {
    @include size(100%, 80px);
    background: $blue;
    @include pos($pos: absolute, $b: 0, $l: 0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;


    &--menu {
        width: 100%;
        @include f-center;
        flex-direction: row;
    }

    &--logo {
        text-align: center;
        justify-content: center;
        font-size: 24px;
        letter-spacing: 2.4px;
        cursor: pointer;

        &:hover {
        transform: scale(1.05);
        transition: .2s;
        }
    }

}   

.menu {
    display: flex;
    font-size: 14px;
    letter-spacing: 2.4px;
    text-transform:uppercase;
    font-family: $aleo;
    align-items: left;

    &__item {
        margin-right: 32px;
    } 
    
    &__link {
        text-decoration: none;
        padding: 25px 0;
        position: relative;
        display: inline-block;
        transition: .3s;

        &::before {
            content: '';
            @include size(2px, 2px);
            @include pos ($b: 20px, $l:-6px);
            background: $white;
            transition: 8s;
            position: absolute;
            display: none;
        }

        &:hover {
           &::before {
            display: inline-block;   
            @include  size(calc(100% + 12px), 2px);
           }
        }
    }    
}
