.header {
    @include size(100%, 820px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: url("../images/header.jpg") no-repeat top center;
    background-size: cover;
    position: relative;
    color: #fff;

    &>.navigation {
        @include size(100%, 80px);
        background: $blue;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    & .navigation--menu {
        width: 100%;
    }

    & .navigation--logo {
        text-align: center;
        font-size: 24px;
        letter-spacing: 2.4px;

        &:hover {
            transform: scale(1.05);
            transition: .2s;
        }
    }

    &__content {
        height: 320px;
        @include f-between;
    }
    
}

.title {
    width: 352px;
    text-align: justify;

    &__name {
        font-size: 48px;
        letter-spacing: 4.8px;
        line-height: 0.54;
    }

    &__text {
        font-size: 22px;
        line-height: 1.18;
        letter-spacing: 6.2px;
        margin-top: 15px;
    }
}

.search {
    @include size(650px, 60px);
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 2px 2px 2px 126px;
    

    &__text {
        width: 100%;
        font-size: 14px;
        line-height: 1.86;
        letter-spacing: 2.8px;
        text-align: center;
    }

    &__button {
        background-color: $blue;
        color: inherit;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-family: $aleo;
        font-size: 14px;
        letter-spacing: 1.4px;
    }

    &__icon {
        @include size(20px, 22px);
        fill: #fff;
    }
}

.scroll {
    @include f-between;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 2.8px;
    animation: scroll 2s ease-in-out infinite; /*параметры анимации:название, старт, направление...*/
    animation-delay: 3s;

    // :hover {
    //     transform: scale(1.05);
    //     transition: .2s;
    // }
}

@keyframes scroll {
0% {
    bottom: 0;
}
50% {
    bottom: 10px;
}
100% {
    bottom: 0;
}
}

.menu {
    display: flex;
    font-size: 14px;
    text-transform:uppercase;
    font-family: $aleo;
    align-items: left;

    &__item {
        margin-right: 32px;
        &:hover {
            transform: scale(1.05);
            transition: .2s;
        }
    }
    
}



